header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(105, 194, 189);
    margin: 20px 0;

}

h2 {
    width: 24%;
}

form { 
    padding-top: 25px;
    width: 73%;
}


