

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.thumbnail {
    margin-top: 40px;
    display: block;
    width: 50px;
    height: 50px;
}

.user > h2 {
    width: 50%;
    padding-left: 10px;
    text-align: left;

}

.image {
    margin-top: 10px;
}

.likes {
    width: 100%;
    

}
.likes > img {
    width: 48px;
    cursor: pointer;
}


.post > p {
    width: 100%;
    text-align: left;
}

.post > p > span {
    font-weight: bold;
}




